@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ComparacaoPrecos.Models.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes do Produto";
    Layout = "_Layout";
}

<h2>@Model.Nome</h2>

<p><strong>Categoria:</strong> @Model.CategoriaID</p>

<h3>Lojas disponíveis:</h3>
<ul>
    @foreach (var loja in Model.InfoPorLoja)
    {
        <li>
            <strong>@loja.NomeLoja</strong> - Preço: @loja.Preco - Localização: @loja.Localizacao
        </li>
    }
</ul>